<ion-header no-border>

    <ion-navbar color="transparent">
        <!--<ion-title>{{food.main}} - {{food.name}}</ion-title>-->
        <ion-buttons right>
            <button ion-button icon-only (click)="presentCart()">
            {{cartquantity}}<ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content fullscreen>
    <div class="foodimage">
        <img src="{{food.colorcode}}" style="width: 100%" />
    </div>

    <div padding *ngIf="food != {}">
        <div padding-horizontal class="contentBox">
            <h3>{{food.name}}</h3>
            <ion-row>
                <ion-col class="detailBox">
                    <div>Vendor: {{food.vendor.name}}</div>
                    <div *ngIf="food.calories">Calories: {{food.calories}}</div>
                </ion-col>
                <ion-col width-33 class="priceText">
                    ₦{{food.price}}
                </ion-col>
            </ion-row>
            <div class="rating">
                <span *ngFor="let item of [1,2,3,4,5]">
                    <ion-icon name="ios-star" [color]="getStarColor(item)"></ion-icon>
                </span>
                <br />
                <small>(from {{food.rating.total}} ratings)</small>
            </div>

            <div>
                <ion-row>
                    <ion-col text-right>
                        <button ion-button small clear color="dark" (click)="addQuantity()">
                            Quantity: 
                        </button>
                        <button ion-button small outline icon-only color="dark" (click)="addQuantity()">
                            <ion-icon name="add"></ion-icon>
                        </button>
                        <button ion-button small outline color="dark">
                            {{quantity}}
                        </button>
                        <button ion-button small icon-only outline color="dark" (click)="removeQuantity()" [disabled]="quantity < 2">
                            <ion-icon name="remove"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </div>

            <div *ngIf="food.ingredients" >
                <p>{{food.main}} - {{food.ingredients}}</p>
            </div>
        </div>
    </div>

    <div class="recBox" *ngIf="false">
        <ion-card *ngFor="let item of [1,2,3]">
            <ion-card-header>
                Samuel Adeyemi
            </ion-card-header>
            <ion-card-content>
                <div class="rating">
                    <ion-icon name="ios-star" *ngFor="let item of [1,2,3]"></ion-icon>
                    <ion-icon name="ios-star-outline" *ngFor="let item of [1,2]"></ion-icon>
                </div>
                The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
            </ion-card-content>
        </ion-card>
    </div>


    <ion-fab bottom right edge [ngClass]="animateClass">
        <button ion-fab [color]="cartColor" (click)="presentCart()">{{cartquantity}}<ion-icon name="cart"></ion-icon></button>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar color="mealgreen" text-center>
        <button ion-button block clear color="whitelight" (click)="addToCart()">Add to cart ₦{{food.price}}</button>
    </ion-toolbar>
</ion-footer>