page-food {
    .foodimage {
        overflow: hidden;
        background-size: cover;
        min-height: 30%;
        max-height: 60%;
        width: 100%;
        margin-top: -56px;
    }
    .contentBox{
        padding-right: 20px;
        padding-left: 20px;
        .priceText{
            color: color($colors, mealgreen);
            font-size: 30px;
        }
    }
    .rating {
        margin-top: 5px;
        ion-icon {
            font-size: 25px;
            margin-right: 5px;
            // color: color($colors, mealgreen);
        }
    }

    .recBox{
        .rating {
        margin-top: 0px;
        ion-icon {
            font-size: 20px;
            // color: color($colors, mealgreen);
        }
    }
    }
}