<ion-header>

    <ion-navbar color="mealgreen">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cart</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list>
        <ion-item *ngIf="totalPrice < 1">
            The cart is empty
        </ion-item>
        <ion-item *ngFor="let item of cartList">
            <ion-row>
                <ion-col width-67>
                    <div class="foodname">{{item.name}}</div>
                    <div class="extraBox">
                    <div>Vendor: {{item.food.vendor.name}}</div>
                    <div *ngIf="item.food.calories">Calories: {{item.food.calories}}</div>
                    </div>
                </ion-col>
                <ion-col text-right>
                    <div class="priceText">₦{{item.price}}</div>
                </ion-col>
            </ion-row>

            <ion-row class="button-row">
                <ion-col text-right>
                    <button ion-button clear small color="dark" (click)="addToCart(item.food, 1)">
                        Quantity
                    </button>
                    <button ion-button outline small color="dark" (click)="addToCart(item.food, 1)">
                        <ion-icon name="add"></ion-icon>
                    </button>
                    <button ion-button outline small color="dark">
                        {{item.quantity}}
                    </button>
                    <button ion-button outline small color="dark" (click)="removeFromCart(item.food)">
                        <ion-icon name="remove" *ngIf="item.quantity > 1" ></ion-icon>
                        <ion-icon name="close"*ngIf="item.quantity < 2"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-item>

        <div *ngIf="totalPrice > 0">
            <ion-item color="light" *ngIf="company_pay > 0">
                <h2>Total</h2>
                <div item-right>
                    <b>₦{{totalPrice}}</b>
                </div>
            </ion-item>
            <ion-item color="light" *ngIf="company_pay > 0">
                <h2>Company Subsidy</h2>
                <div item-right>
                    <b color="danger">-₦{{company_pay}}</b>
                </div>
            </ion-item>
            <ion-item color="light">
                <h1>Total Due</h1>
                <div item-right>
                    <h2><b>₦{{getPayable()}}</b></h2>
                </div>
            </ion-item>
        </div>
    </ion-list>

    <div class="divider" style="height: 100px"></div>

    <ion-fab bottom right edge>
        <button ion-fab color="danger" (click)="dismiss()">
          {{cartquantity}}<ion-icon name="ios-arrow-down"></ion-icon>
        </button>
    </ion-fab>
</ion-content>

<ion-footer>

    <ion-toolbar color="mealgreen" (click)="presentCheckout()">
        <button ion-button clear block color="whitelight" *ngIf="totalPrice > 0">
              Checkout
            </button>
    </ion-toolbar>

</ion-footer>