page-cart {
    ion-content {
        background: url('../assets/backpattern.png');
        background-size: cover;
        // padding-bottom: 200px;
        .foodname {
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .extraBox {
            font-size: 10px;
        }
        .priceText {
            color: color($colors, mealgreen);
            font-size: 30px;
        }
    }
    .button-row {
        ion-col {
            padding: 2px !important;
        }
        button {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }
}