<ion-content padding>
    <div class="rateBox" padding>
        <h1>{{title}}</h1>

        <ion-list>
            <ion-item *ngFor="let food of order.foods">
                <ion-thumbnail item-left>
                    <img src="{{food.food.colorcode}}">
                </ion-thumbnail>
                <h3>{{food.foodname}}</h3>
                <div class="ratingBox">
                    <ion-icon name="ios-star" *ngFor="let num of [1,2,3,4,5]" [color]="getStarColor(food.id, num)" (click)="setRating(food.id, num)"></ion-icon>
                    <br />
                    <small color="primary" (click)="addComment(food.id)">add a comment</small>
                </div>
            </ion-item>
        </ion-list>

        <div class="buttons">
            <button ion-button block round color="mealgreen" (click)="submitRating()">Rate</button>
            <button ion-button block clear color="grey" (click)="dismiss()">Cancel</button>
        </div>

        <div style="height: 20px;"></div>
        
        <!--<div>
            <ion-item>
                <ion-label>Don't ask me again</ion-label>
                <ion-checkbox color="dark" checked="true"></ion-checkbox>
            </ion-item>
        </div>-->

    </div>
</ion-content>