<ion-menu [content]="content">
  <ion-content>
    <div padding class="menuhead">
      <img src="assets/longlogowhite.png" style="width: 80%" /><br />
      {{user.data.username}}<br />
      Company: {{user.officedata.office_admin}}<br />
      Wallet Balance: <b>₦{{user.balance}}</b>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-badge item-right *ngIf="p.badge" color="mealgreen" >{{cartNum}}</ion-badge>
      </button>

      <button menuClose ion-item color="danger" (click)="confirmLogout()" style="margin-top: 30%">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>