page-wallet {
    ion-content {
        background: url('../assets/backpattern.png');
        background-size: cover;
        background-color: #454444 !important;

        img{
            width: 40%;
        }
        h2{
            color: white;
        }
    }
}