page-foodlist {
    ion-content {
        background-color: #454444 !important;
        background-size: contain;
        &.imageFood {
            background: url('../assets/backfood.jpg') repeat top center;
            background-size: contain;
        }
        &.imageDrinks {
            background: url('../assets/backdrink.jpg') repeat top center;
            background-size: contain;
        }
        .headerImg {
            background-color: transparent;
            // background: url("../assets/home.jpg") no-repeat center center;
            background-size: cover;
            height: 150px;
            width: 100%;
        }
        .meal-box {
            // margin-bottom: 100px;
        }
        .rating {
            ion-icon {
                font-size: 15px;
                // color: color($colors, mealgreen)
            }
        }
        .priceText {
            color: color($colors, mealgreen);
            font-size: 20px;
        }
        .extra {
            font-size: 12px;
        }
        .mainName {
            font-size: 16px;
        }
        .sticky.stick {
            position: fixed;
            // display: none;
            top: 56px;
            z-index: 10000;
            background-color: black;
            // border-radius: 0 0 0.5em 0.5em;
        }
    }
    .sticky.toolbar-md {
        padding: 0px;
        margin-bottom: -13px;
        .segment-button.segment-activated,
        .segment-button.segment-activated {
            background-color: white;
            color: black;
        }
    }

    .list-md{
        margin-bottom: 0px;
    }
}