page-foodlist {
    ion-content {
        background: url('../assets/home.jpg') no-repeat top center;
        background-size: contain;
        background-color: #454444 !important;
        .headerImg {
            background-color: transparent;
            // background: url("../assets/home.jpg") no-repeat center center;
            background-size: cover;
            height: 120px;
            width: 100%;
        }
        .meal-box {
            margin-bottom: 100px;
        }
        .rating {
            ion-icon {
                font-size: 15px;
                // color: color($colors, mealgreen)
            }
        }
        .priceText {
            color: color($colors, mealgreen);
            font-size: 20px;
        }
        .extra {
            font-size: 12px;
        }
        .mainName {
            font-size: 16px;
        }
        #sticky.stick {
            position: fixed;
            top: 56px;
            z-index: 10000;
            // border-radius: 0 0 0.5em 0.5em;
        }
    }
}