<ion-header>
   
    <ion-navbar color="dark">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mealimeter</ion-title>
        <ion-buttons right>
            <button ion-button (click)="presentCart()">
            {{cartquantity}}<ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="dark">
        <ion-segment [(ngModel)]="meal" color="greenmeal">
            <ion-segment-button value="food">
                Food
            </ion-segment-button>
            <ion-segment-button value="drinks">
                Drinks
            </ion-segment-button>
            <!--<ion-segment-button value="snacks">
                Snacks
            </ion-segment-button>-->
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content>

    <div class="meal-box" [ngSwitch]="meal">
        <ion-list *ngSwitchCase="'food'">
            <div class="headerImg"></div>
            <ion-item text-center *ngIf="foods.length < 1">
                <ion-spinner></ion-spinner>
            </ion-item>
            <div *ngFor="let food of foods">
                <ion-item (click)="gotoFood(food)" *ngIf="food.main != 'Combo'">
                    <ion-thumbnail item-right>
                        <img src="{{food.colorcode}}">
                    </ion-thumbnail>
                    <h3 class="mainName">{{food.name}}</h3>  
                    <small class="extra">Vendor: {{food.vendor.name}}</small>
                    <small *ngIf="food.calories"  class="extra">Calories: {{food.calories}}</small>
                    <div class="rating">
                        <span *ngFor="let item of [1,2,3,4,5]">
                            <ion-icon name="ios-star-outline" [color]="getStarColor(food.rating.rating, item)" ></ion-icon>
                        </span>
                    </div>
                    <div class="priceText">₦{{food.price}}</div>                    
                    <!--<button ion-fab mini item-right color="mealgreen" (click)="$event.stopPropagation(); addToCart(food)">
                        <ion-icon name="add"></ion-icon>
                    </button>-->
                </ion-item>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'drinks'">
            <ion-item text-center *ngIf="drinks.length < 1">
                <ion-spinner></ion-spinner>
            </ion-item>
            <div *ngFor="let drink of drinks">
                <ion-item (click)="gotoFood(drink)" *ngIf="drink.main != 'Combo'">
                    <ion-thumbnail item-right>
                        <img src="{{drink.colorcode}}">
                    </ion-thumbnail>
                    <h3 class="mainName">{{drink.main}} - {{drink.name}}</h3>
                    <small class="extra">Vendor: {{drink.vendor.name}}</small>
                    <small *ngIf="drink.calories"  class="extra">Calories: {{drink.calories}}</small>
                    <div class="rating">
                        <span *ngFor="let item of [1,2,3,4,5]">
                            <ion-icon name="ios-star-outline" [color]="getStarColor(drink.rating.rating, item)" ></ion-icon>
                        </span>
                    </div>
                    <div class="priceText">₦{{drink.price}}</div>
                    <!--<button ion-fab mini item-right color="mealgreen" (click)="$event.stopPropagation(); addToCart(drink)">
                        <ion-icon name="add"></ion-icon>
                    </button>-->
                </ion-item>
            </div>
        </ion-list>

        <!--<ion-list *ngSwitchCase="'snacks'">
            <ion-item>
                <ion-thumbnail item-left>
                    <img src="img/thumbnail-kitten-1.jpg">
                </ion-thumbnail>
                <h2>Luna</h2>
            </ion-item>
        </ion-list>-->
    </div>

    <!--<ion-fab bottom right [ngClass]="animateClass">
        <button ion-fab [color]="cartColor" (click)="presentCart()">{{cartquantity}}<ion-icon name="cart"></ion-icon></button>
    </ion-fab>-->
</ion-content>